body {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    margin-top: 25px;
    font-size: 16px;
    line-height: 1.5em;
    -webkit-text-size-adjust: none;
}

nav a {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 30px;
}

nav a.selected {
    cursor: pointer;
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
}

a:hover,
a.selected {
    color: #E8897B;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.copyright {
    font-size: 14px;
}

.links {
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.links a {
    margin: 10px;
    display: inline-block;
}

.links .linkedin {
    margin-left: 12px;
}

.links .behance,
.links .email {
    margin-top: 11px;
}

.section {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.logo {
    width: 74px;
    height: 74px;
}

a.button {
    color: white;
    background-color: #E8897B;
    padding: 15px;
    margin: 25px;
    font-size: 16px;
    border: 0;
}


.title-wrapper {
    text-align: center;
    margin-bottom: 100px;
}

.title {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1
}

.subtitle {
  padding: 20px;
}

.example-wrapper {
    position: relative;
    background-color: #DADADA;
    margin-top: 50px;
    margin-bottom: 50px;
}

.example-image {
    display: block;
    margin: auto;
}

.overlay {
    transition: all .15s ease-in-out;
    background: rgba(0,0,0,0);
    opacity: 0;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position:absolute;
    width:100%;
    height: 100%;
}

.overlay-title {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 10px;
}

.overlay:hover {
    background: rgba(0,0,0,0.5);
    opacity: 1;
}


.project-description > div {
    margin-bottom: 25px;
    max-width: 600px;
}

.beau .project-description > div {
    max-width: 690px;
}

.pomlist .project-header {
    color: #9BC995;
}

.project-attributes {
    display: flex;
    font-weight: 700;
}

.project-attributes > div:not(:last-child) {
    margin-right: 20px;
}

.project-background {
    background-color: #F4F4F4 !important;
}

.project-section {
    margin-bottom: 70px;
}

.project-section > div:not(:last-child),
.project-section > img {
    margin-bottom: 25px;
}

.project-sub-section {
    margin-right: 50px;
    margin-left: 50px;
}

.project-sub-section > div:not(:last-child) {
    margin-bottom: 15px;
}

.project-sub-header {
    margin-top: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #62929E;
}

.project-image {
    border: 2px solid #E0E0E0;
    border-radius: 2px;
    width: 100%;
}

.project-image-max-width {
    max-width: 500px;
}

.persona-image {
    width: 100%;
}

.project-list-item {
    list-style-type: circle;
}

.project-list-item:not(:last-child) {
    margin-bottom: 15px;
}

.button-container {
    text-align: center;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

a.project-button {
    color: white;
    background-color: #6E6861;
    padding: 12px 30px;
    font-size: 16px;
    display: inline-block;
    border: 0;
}

.beau a.project-button {
    background-color: #6EB5AD;
}

.beau a.project-button-alternate {
    margin-left: 30px;
    color: #6EB5AD;
    border: 2px solid #6EB5AD;
    padding: 10px 30px;
    font-size: 16px;
    display: inline-block;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.centered {
    text-align: center;
}

a.highlighted-link,
a.highlighted-link:visited {
    color: #9BC995 !important;
}

.project-side-by-side {
    display: flex;
    justify-content: space-between;
}

.image-label {
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

.third-image {
    display: inline-block;
    padding-left: 7.5px;
    padding-right: 7.6px;
    vertical-align: middle;
    width: 29%;
}

.third-image > img {
    margin-bottom: 10px;
    width: 100%;
}

.double-image {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    width: 42%;
    max-width: 300px;
}

.double-image > img {
    margin-bottom: 10px;
    width: 100%;
}

.icon {
    padding-right: 15px;
}

.icon-description-container {
    margin-left: 40px;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}

.icon-description-container > div {
    margin-bottom: 25px;
}

.icon-description {
    display: flex;
    align-items: center;
}

.image-long-text {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.2em;
    color: #666;
    font-style: italic;
    margin-left: 15px;
}

.description {
    line-height: 1.5;
    margin-top: 50px;
}

.fun-facts {
    list-style-type: circle;
}

.about {
    display: flex;
    align-items: center;
}

.icon-group {
    display: inline-flex;
    align-items: center;
    width: 130px;
}

.icon-explanation {
    display: inline-block;
}

.self-image-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.self-image {
    border-radius: 100%;
}

.view-resume {
    align-self: center;
}

.beau .project-header {
    color: #EDDA00;
}

.competitor-analysis {
    padding: 25px;
}

.usability-issues {
    display: flex;
    justify-content: center;
}

.usability-issues img {
    max-height: 15px;
    margin: 15px 15px 30px 15px;
}

@media (max-width: 900px) {
    body {
        margin-left: 25px;
        margin-right: 25px;
    }

    .example-wrapper {
        background-color: #DADADA;
        margin: 50px -25px;
    }

    .example-image {
        width: 100%;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-title {
        text-align: center;
        margin-bottom: 50px;
    }

    .self-image-container  {
        margin-left: 0;
    }

    .double-image {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 550px) {
    .project-sub-section {
        margin-left: 25px;
        margin-right: 25px;
    }

    .double-image {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}
